#navbar {
    background-color: #565656;
}

#WASAT {
    text-decoration: none;
}

#bottomnav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#NAVKNOPPEN {
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-size: 1.4rem;
    font-weight: 500;
    box-shadow: black 0px 1px 10px 0px;
    background-color: #565656;
    text-align: center;
    width: auto;
}

#ORDERS {
    border: none;
    border-radius: 20px;
    padding: 10px;
    color: white;
    font-size: 1.4rem;
    font-weight: 500;
    box-shadow: black 0px 1px 10px 0px;
    background-color: #565656;
    text-align: center;
    margin-top: 20px;
}

#order-table {
    margin-top: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
}

.table th,
.table td {
    border: 1px solid #dee2e6;
    padding: 10px;
    text-align: left;
}

.table th {
    background-color: #f8f9fa;
    font-weight: bold;
}

.table td {
    vertical-align: top;
}

#clear-orders {
    margin-top: 20px;
}